<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.borismus.webintent"
      version="1.0.0">
    <name>WebIntent</name>
    <description>Web intents for Cordova</description>
    <license>MIT</license>
    <keywords>cordova,webintent</keywords>

    <js-module src="www/webintent.js" name="WebIntent">
        <clobbers target="WebIntent" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebIntent" >
                <param name="android-package" value="com.borismus.webintent.WebIntent"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.appgyver.runtime.standalone.chromium.MainActivity">
            <intent-filter>
	     <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data android:host="tviso.com" android:scheme="https"></data>
                <data android:host="www.tviso.com" android:scheme="https"></data>
                <data android:host="es.tviso.com" android:scheme="https"></data>
                
                <data android:host="tviso.pre" android:scheme="http"></data>
                <data android:host="www.tviso.pre" android:scheme="http"></data>
                <data android:host="es.tviso.pre" android:scheme="http"></data>
                
                <data android:host="tviso.dev" android:scheme="http"></data>
                <data android:host="www.tviso.dev" android:scheme="http"></data>
                <data android:host="es.tviso.dev" android:scheme="http"></data>
                <data android:host="tviso.dev.192.168.5.36.xip.io" android:scheme="http"></data>
                <data android:host="www.tviso.dev.192.168.5.36.xip.io" android:scheme="http"></data>
                <data android:host="es.tviso.dev.192.168.5.36.xip.io" android:scheme="http"></data>
                
            </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/WebIntent.java" target-dir="src/com/borismus/webintent" />
    </platform>
</plugin>
